<h3>리그 추가</h3>
{{!--data--}}
<form method="POST" action="">
  <div class = "wrapping-box">
  <ul>
    <li><span>소속</span>
      <select name="org_num" class="org_select">
        {{#each org_list}}
        <option value="{{org_num}}">{{org_name}}</option>
        {{/each}}
        <option value="">추가..</option>
      </select>
    </li>
    <li><span>년도</span>
      <select name="league_year">
        {{#range 2016 2009 -1}}
        <option value="{{this}}">{{this}}</option>
        {{/range}}
      </select>
    </li>
    <li>리그이름 : <input type="text" name="league_name" class="required" required ></li>
    <li> <input type="submit" value="입력" id="submit_button"></li>
  </ul>
  </div>
</form>
<div class="show_league">
  <h4>리그 목록. 팀 등록</h4>
  <table class="result_table">
      <tr>
        <th>년도</th><th>이름</th><th></th>
      </tr>
      {{#each league_list}}
      <tr>
          <td>{{league_year}}</td>
          <td><a href="/show/league/{{league_id}}">{{league_name}}</a></td>
          <td><a href="/add/league/{{league_id}}">팀 추가 등록</a></td>
      </tr>
      {{else}}
      <tr>no data</tr>
      {{/each}}
  </table>
</div>
<script>
$(".org_select").change(function (){
  if($(this).children(":selected").html()== "추가..")
  {
    window.location.assign("/add/organization");
  }
});
</script>
