<h3>팀정보 </h3>
{{#each team_info}}
<h4>{{team_name}} : ({{location}}){{elo}}</h4>
{{else}}
Nodata
{{/each}}
<h4>타자정보</h4>
<table id="myTable" class="tablesorter">
  {{#if batter_list}}
  <thead>
    <tr>
      <th>이름</th><th>타석</th><th>타수</th>
      <th>총 안타</th><th>2루타</th><th>3루타</th><th>홈런</th>
      <th>득점</th><th>타점</th><th>사사구</th><th>삼진</th>
      <th>희플</th><th>타율</th><th>출루율</th>
    </tr>
  </thead>
  <tbody>
    {{#each batter_list}}
    <tr>
      <td><a href="/show/player/{{player_id}}">{{player_name}}</a></td>
      <td>{{타석}}</td>
      <td>{{타수}}</td>
      <td>{{total_hit}}</td>
      <td>{{hit2}}</td>
      <td>{{hit3}}</td>
      <td>{{hr}}</td>
      <td>{{r}}</td>
      <td>{{rbi}}</td>
      <td>{{bb}}</td>
      <td>{{k}}</td>
      <td>{{sf}}</td>
      <td>{{타율}}</td>
      <td>{{출루율}}</td>
    </tr>
    {{/each}}
    {{else}}
    <tr><td>타자 기록이 없습니다.</td></tr>
    {{/if}}
  </tbody>
</table>
